.DS_Store
__pycache__/utils.cpython-37.pyc
df_labor_code.pkl
.ipynb_checkpoints/lab4_raw-checkpoint.ipynb
.vscode/settings.json
scraper/__pycache__/sc_scrapper.cpython-37.pyc
scrapper/__pycache__/sc_scrapper.cpython-37.pyc
